## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
node_modules/
.eslintcache
packages/**/lib*
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/site/_site/
/dist/
/out-tsc/
tsconfig.tsbuildinfo

