/*

Variable names should follow the format

  - element
  - category
  - property
  - variant
  - state
  - scale

  --window-font-color-error-small
  --button-color-background-error-hover
*/

:root {
  /* Base styles */
  --font-primary: Tahoma;

  --font-size-100: 1rem;
  --font-size-200: calc((21px / 16px) * 1rem);
  --font-size-300: calc((24px / 16px) * 1rem);
  --font-size-400: calc((36px / 16px) * 1rem);
  --font-size-500: calc((48px / 16px) * 1rem);
  --font-size-600: calc((64px / 16px) * 1rem);

  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 232px;

  --color-black: hsl(0deg, 0%, 0%);
  --color-gray-300: hsl(0deg, 0%, 46%);
  --color-gray-400: hsl(0deg, 0%, 64%);
  --color-gray-500: hsl(0deg, 0%, 73%);
  --color-gray-550: hsl(0deg, 0%, 78%);
  --color-gray-600: hsl(42deg, 4%, 82%);
  --color-gray-700: hsl(45deg, 11%, 86%);
  --color-gray-800: hsl(36deg, 12%, 92%);
  --color-white: hsl(0deg, 0%, 96%);

  --color-red-100: hsl(22deg, 95%, 25%);
  --color-red-300: hsl(22deg, 95%, 34%);
  --color-red-500: hsl(22deg, 95%, 44%);
  --color-red-700: hsl(22deg, 95%, 56%);
  --color-red-900: hsl(22deg, 95%, 71%);

  --color-blue-100: hsl(212deg, 50%, 27%);
  --color-blue-300: hsl(212deg, 50%, 40%);
  --color-blue-700: hsl(212deg, 100%, 64%);
  --color-blue-900: hsl(212deg, 50%, 79%);

  --blue-gradient: linear-gradient(
    90deg,
    var(--color-blue-100) 0%,
    var(--color-blue-700) 100%
  );

  --border-medium: 2px solid var(--color-gray-400);
  --shadow-heavy: 2px 2px var(--color-black);
  --shadow-inset-light: inset 2px 2px var(--color-white);

  /* Element styles */
  --desktop-background: var(--color-blue-300);

  --stack-spacing-top: var(--spacing-100);

  --window-color-background: var(--color-gray-600);
  --window-border: var(--border-medium);
  --window-shadow: var(--shadow-inset-light), var(--shadow-heavy);
  --window-spacing-horizontal: var(--spacing-200);
  --window-width: 80ch;

  --window-topbar-heading-font-size: var(--font-size-100);
  --window-topbar-heading-color: var(--color-white);
  --window-topbar-background: var(--blue-gradient);
}
