html {
  height: 100%;
  cursor: var(--cursor-default);
  overflow: hidden;
}

/* eventually move this into the reusable component */
body {
  min-height: 100%;
  image-rendering: pixelated;
  background: var(--desktop-background);
  font-family: var(--font-primary);
}

#app {
  min-height: 100%;
  display: grid;
  grid-template: 1fr auto / 1fr;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body[data-state="waiting"] {
  cursor: var(--cursor-wait);
}

a {
  color: var(--link-font-color);
  background: none;
}

.heading {
  text-align: center;
  background: white;
  font-size: var(--font-size-500);
  font-weight: var(--font-weight-heavy);
}

.heading > span {
  font-weight: var(--font-weight-regular);
}

.cookie {
  width: calc(32px * 3);
  animation: spin 2s infinite steps(11) alternate;
  margin: var(--spacing-100) auto;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
